#header img {
  width: 100%;
  height: 400px;
}

@media (min-width: 992px) {
  #header img {
    height: 400px;
  }
  #inputForm {
    width: 25%;
  }
}

@media (max-width: 992px) {
  #header img {
    height: 250px;
  }
  #inputForm {
    width: 50%;
  }
}

@media (max-width: 600px) {
  #header img {
    height: 150px;
  }
  #inputForm {
    width: 80%;
  }
}
